<body>
    <div class="owners-container">
        <h1>Owners</h1>
        <a href="/owner/create/">Add a new owner</a>
    </div>

    <ul class="owner-list">
        {% for owner in owners %}
            <li class="owner-item">
                <div class="owner-details">
                    <p><strong>Name:</strong> {{ owner.first_name }} {{ owner.last_name }}</p>
                    <p><strong>Birthdate:</strong> {{ owner.birth_date }}</p>
                    <p><strong>Address:</strong> {{ owner.address }}</p>
                    <p><strong>Nationality:</strong> {{ owner.nationality }}</p>
                </div>
                <div class="owner-actions">
                    <a href="/owner/{{ owner.owner_id }}/">Details</a>
                </div>
            </li>
        {% empty %}
            <li class="no-owners">No owners yet.</li>
        {% endfor %}
    </ul>
</body>
